<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Gerenciamento de tempo</li>
  </ol>
</nav>
<div class="container">
  <div class="card list-car">
    <h5 class="card-header">Previsão tempo</h5>
    <div class="card-body">
      
      <button type="button" class="btn btn-primary btn-sm" (click)="adicionarRegistroAleatorio()">Adicionar registro aleatório</button>
      
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Temp</th>
              <th scope="col">Date</th>
              <th scope="col">Description</th>
              <th scope="col">City</th>
              <th scope="col">Wind Speed</th>
            </tr>
          </thead>
          <tbody>            
            <tr *ngFor="let weather of weathers">
              <td>{{weather.id}}</td>
              <td>{{weather.temp}}</td>
              <td>{{weather.date}}</td>
              <td>{{weather.description}}</td>
              <td>{{weather.city}}</td>
              <td>{{weather.windSpeedy}}</td>
              <td>
                <button type="button" class="btn btn-warning btn-sm" (click)="editWeather(weather)">Editar</button>
                <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteWeather(weather)"> Deletar</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

  <div class="card add-weather">
      <h5 class="card-header">Adicionar/Atualizar</h5>
      <div class="card-body">
        <form id="add-form" (ngSubmit)="f.form.valid && salvarWeather(f)" #f="ngForm" novalidate>
            <input type="hidden" [(ngModel)]="weather.id" id="id" name="id" #model="ngModel" required class="form-control">

            <div class="form-group">
                <label for="temp">Temp</label>
                <input type="text" [(ngModel)]="weather.temp" id="temp" name="temp" #model="ngModel" required class="form-control" placeholder="25" >
            </div>
            <div class="form-group">
                <label for="date">Date</label>
                <input type="text" [(ngModel)]="weather.date" id="date" name="date" #color="ngModel" required class="form-control" placeholder="09/09/2022">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" [(ngModel)]="weather.description" id="description" name="description" #price="ngModel" class="form-control" placeholder="test">
            </div>
            <div class="form-group">
              <label for="city">City</label>
              <input type="text" [(ngModel)]="weather.city" id="city" name="city" #price="ngModel" class="form-control" placeholder="São Paulo, SP">
            </div>
            <div class="form-group">
              <label for="wind">Wind Speed</label>
              <input type="text" [(ngModel)]="weather.windSpeedy" id="wind" name="wind" #price="ngModel" class="form-control" placeholder="0.45 km/h">
            </div>
            <button type="submit" class="btn btn-primary btn-add-weather">Salvar</button>
            <button type="reset" class="btn btn-secondary btn-add-weather" (click)="cleanForm(f)">Cancelar</button>
          </form>
      </div>
    </div>
</div>